/* Tartalmi rész */
article {
    background-color: #aaaaff;
    color: black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* középre igazítás */
}

/* Szöveges blokkok szürke, áttetsző dobozban */
article h2,
article h3,
article p {
    background-color: rgba(200, 200, 200, 0.6); /* áttetsző szürke */
    padding: 10px 15px;
    margin: 10px 0;
    width: 80%;
    text-align: center; /* szöveg középen */
    border-radius: 8px;
}

/* Fejléc (article header) középre */
article > header {
    height: 100px;
    padding: 10px;
    background-color: #3939c8;
    color: white;
    text-align: center;
    width: 100%;
}

/* Lábléc */
footer {
    height: 150px;
    padding: 20px;
    background-color: #193968;
    color: white;
    border-top: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

/* Lábléc szöveg kitöltése */
footer p {
    margin: 0;
    flex: 1;
}
